<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/static/assets/css/custom.css"/>		
	</head>

	<body>
		
		<!--  Navigation Bar -->
		
		<nav class="navbar navbar-default navbar-fixed-top noBorder" role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand brandStyle" href="/inicio/"><img src="/static/assets/images/borbolla_metrology_logo.jpg" height='45' width='318'></a>
				</div>
				
				<div class="collapse navbar-collapse noPadding"	id="myNavbar">
					<div class="navbar-right menustyle">
						<ul class="nav navbar-nav">
							<li><a href="/inicio/"><p>Productos</p></a></li>
							<li><a href="/servicios/"><p>Servicios</p></a></li>
							<li><a href="/nosotros/"><p>Nuestra Compania</p></a></li>
							<li><a href="/contacto/"><p>Contacto</p></a></li>
							{%if login%}
							    <li><a href="/impresion/"><p>Impresion</p></a></li>
							    <li><a href="/admin/"><p>Administracion</p></a></li>
							    <li><a href="/logout/"><p>Logout</p></a></li>
							    

							{%else%}
							    <li><a href="/login/"><p>Login</p></a></li>    
							{%endif%}    
							
						</ul>
					</div>
				</div>
				
			</div>
		</nav>

		<!-- Main Page -->
		
		<div class="container-fluid noPadding">
			{%if inicio%}
			<div class="container-fluid headpicture"></div>
			{%endif%}
			<div class="container text-center">
				
				<h1>{%block subtitulo1%}{%endblock%}</h1>

				<p class="textStyle">
				    {%block texto%}
					
				    {%endblock%}
				</p>

				{%if inicio%}				
				<h1>Servicios</h1>

			</div>
			
			<div class="container textstyle">
				<div class="row text-center latestProjects">
					
					<div class="col-md-4 col-sm-6">
						<a href="/" >
							<img class="imgsize" src="/static/assets/images/renishaw-logo.jpg" alt="Renishaw" >
						</a>
						<p>Sistemas de Metrologia <a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/202313-British-Tea-Cup" >
							<img class="imgsize" src="/static/assets/images/wenzel-logo.jpg" alt="Wenzel">
						</a>
						<p>Maquinas CMMs <a href="http://dribbble.com/shots/202313-British-Tea-Cup">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-12">
						<a href="http://dribbble.com/shots/606745-In-app-Visual-Data" >
							<img class="imgsize" src="/static/assets/images/stindustries-logo.jpg" alt="ST INDUSTRIES" height="260">
						</a>
						<p>Comparadores Opticos <a href="http://dribbble.com/shots/606745-In-app-Visual-Data">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7" >
							<img class="imgsize" src="/static/assets/images/witte-logo.jpg" alt="witte" height="160">
						</a>
						<p>Fixtures <a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7" >
							<img class="imgsize" src="/static/assets/images/gear.png" alt="weather app">
						</a>
						<p>Medicion de Engranes<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7" >
							<img class="imgsize" src="/static/assets/images/ndi-logo.jpg" alt="weather app" height="180">
						</a>
						<p>CMM Portables <a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7" >
							<img class="imgsize" src="/static/assets/images/opendmis-logo.jpg" alt="weather app" height="190">
						</a>
						<p>Software para CMM <a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7" >
							<img class="imgsize" src="/static/assets/images/wenzel-scantec.jpg" alt="weather app" height="190">
						</a>
						<p>Medicion sin Contacto <a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7" >
							<img class="imgsize" src="/static/assets/images/1.jpg" alt="weather app">
						</a>
						<p>Certificacion de Master <a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7" >
							<img class="imgsize" src="/static/assets/images/1.jpg" alt="weather app">
						</a>
						<p>CMM con eXperiencia <a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7" >
							<img class="imgsize" src="/static/assets/images/1.jpg" alt="weather app">
						</a>
						<p>Servicios <a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>

					<div class="col-md-4 col-sm-6">
						<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7" >
							<img class="imgsize" src="/static/assets/images/1.jpg" alt="weather app">
						</a>
						<p>Hammar<a href="http://dribbble.com/shots/1210363-Weather-App-Washing-Machine-iOS7">leer mas →</a></p>
					</div>
				</div>
			</div>
			{%endif%}
			<!-- Footer -->
			
			<div class="container footer">
				<div class="col-xs-12 col-md-8 noPadding">
					<p id="footerLogoText">BorbollaMetrology © 2014</p>
				</div>
				<div class="col-xs-12 col-md-4 noPadding">
					<div class="socialButtons responsiveAlign">
						<a href="#" class="noPadding">
							<img src="/static/assets/images/twitter.svg" alt="image1">
						</a>
						<a href="#" class="noPadding">
							<img src="/static/assets/images/facebook.svg" alt="image1">
						</a>
						<a href="#" class="noPadding">
							<img src="/static/assets/images/behance.svg" alt="image1">
						</a>
					</div>
				</div>
			</div>

		</div>

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
		<script src="/static/assets/js/bootstrap.min.js"></script>
		<script src="/static/assets/js/myscript.js"></script>
	</body>
</html>